<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reciet</title>
    <p>All done</p>
 <table border="0">
          <tr>
              <th style="padding:0 5px 0 5px;"></th>
    <th style="padding:0 5px 0 5px;"></th>
</tr>
      <td> <center>   <label for="polopoly_json"> Json string generate for Polopoly:</label></center></td>
          <td> <center>  <textarea rows="20" cols="200" name="polopoly_json" id="polopoly_json">{{Json_str}}</textarea>  </center></td>
 </table>
      <a target="_blank" href="https://kth.instructure.com/courses/2139/gradebook">Link to Canvas Gradebook that store followin output data</a>
               <br />
</head>
<body>

</body>
</html>