<html>
<body>
<p>Connecting Silo Project Demo Page</p>
<p> Athor:Qi Li, Shiva Besharat Pour</p>
<p> Program:TCOMK - Bchelor Programe in Information and Communication Technology 180 hp,CINTE - Informationsteknik, civilingenjör 300 hp </p>
<p id="description">Description:<br /></p>
<p><font color="red">The alpha test program is only design for the the proporsal of the thesis. ></font></p>
<p><br />Please input the field below and press OK<br />Process might take a while after pressed OK butten. Please be patient<br /></p>
<p> Please fill in the form in the result page to let us know how you think of the program</p>


<form action="." method="post">
    <label for="courseid">Course ID: </label>
    <input id="courseid" type="int" name="courseid_field" placeholder="Canvas course ID"><br />
    <label for="assignmentid">Assignment ID: </label>
    <input id="assignmentid" type="int" name="assignmentid_field" placeholder="Canvas Assignment ID"><br />
    <label for="username">KTHID Username: </label>
    <input id="username" type="text" name="username_field" placeholder="KTH.SE Log in Username"><br />
     <label for="password">KTHID Password: </label>
    <input id="password" type="password" name="password_field" placeholder="KTH.SE Log in Password"><br />
    <label for="document_type">Documentation Type : </label>
    <input id="document_type" type="int" name="document_field" placeholder="0 for Thesis and 1 for Proporsal"><br />

    <input type="submit" value="OK" class="default" />
</form>


</body>



</html>


